<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>TO DO LIST</title>
  </head>
  <body>
    <h1>ADD ITEM TO YOUR TO DO LIST</h1>

    <form action="/items" method="post">
      <label for="description">New item</label>
      <input id="description" name="description" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
